{# {% extends 'base.html.twig' %} #}
{% extends 'base.html.twig' %}

{% block title %}
	Los juegos hermanos
{% endblock %}

{% block body %}

	{% block header %}
		{{parent()}}
	{% endblock %}

	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div
					class="page-content">


					<!-- ***** Most Popular Start ***** -->
					<div class="most-popular">
						<center>
							<div class="col-lg-3 col-sm-6">
								<div class="item">
									<h3>
										<em>M치s juegos, m치s diversi칩n</em>
									</h3>
									<br><br>
									{{ form_start(form) }}
									{{ form_row(form.Nombre) }}<br>
									{{ form_row(form.Editorial) }}<br>
									{{ form_row(form.Anchura) }}<br>
									{{ form_row(form.Longitud) }}<br>
									{{ form_row(form.Caratula) }}<br>
									{{ form_row(form.Tablero) }}<br>
									{{ form_row(form.Min_jug) }}<br>
									{{ form_row(form.Max_jug) }}<br><br>

									<center>
										<button type="submit" class="main-button-new">A침adir</button>
									</center>
									{{ form_end(form) }}
								</div>
							</div>
							<center>

							</div>
							<!-- ***** Most Popular End ***** -->


						</div>
					</div>
				</div>
			</div>
		{% endblock %}

