{% extends 'base.html.twig' %}

{% block title %}
	Los juegos hermanos
{% endblock %}

{% block body %}

	{% block header %}
		{{parent()}}
	{% endblock %}

	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div
					class="page-content">


					<!-- ***** Most Popular Start ***** -->
					<div class="most-popular">
						<center>
							<div class="col-lg-3 col-sm-6">
								<div class="item">
									{% for message in app.flashes('Error') %}
										<div class="alert alert-success">
											{{ message }}
										</div>
									{% endfor %}
									{% for message in app.flashes('Errordate') %}
										<div class="alert alert-success">
											{{ message }}
										</div>
									{% endfor %}
									<h3>
										<em>¡Realiza una reserva!</em>
									</h3>
									<h4>Has seleccionado el juego
										{{juego.Nombre}}</h4>
									<br><br>
									{{ form_start(form) }}
									{{ form_label(form.Mesa)}}
									{{ form_widget(form.Mesa)}}
									{{ form_errors(form.Mesa)}}
									<br><br>
									{{ form_label(form.dia_reserva)}}
									{{ form_widget(form.dia_reserva)}}
									{{ form_errors(form.dia_reserva)}}<br>
									{{ form_label(form.Hora_entrada)}}
									{{ form_widget(form.Hora_entrada)}}
									{{ form_errors(form.Hora_entrada)}}<br>
									{{ form_label(form.Hora_salida)}}
									{{ form_widget(form.Hora_salida)}}
									{{ form_errors(form.Hora_salida)}}<br><br>
									<center>
										<button type="submit" class="main-button-new">Realizar reserva</button>
									</center>
									{{ form_end(form) }}
								</div>
							</div>
							<center></div>
							<!-- ***** Most Popular End ***** -->


						</div>
					</div>
				</div>
			</div>
		{% endblock %}
