{% extends 'base.html.twig' %}

{% block title %}Hello MesaController!
{% endblock %}

{% block body %}
	<div class="mapa_local">
		<table >
				<tr>
					<th><img height=100% width=100% src="{{asset('assets/images/png-transparent-porcelain-tile-floor-bathroom-slate-floor-texture-kitchen-bathroom.jpg')}}"></th>
					<th><img height=100% width=100% src="{{asset('assets/images/png-transparent-porcelain-tile-floor-bathroom-slate-floor-texture-kitchen-bathroom.jpg')}}"></th>
                    <th><img height=100% width=100% src="{{asset('assets/images/png-transparent-porcelain-tile-floor-bathroom-slate-floor-texture-kitchen-bathroom.jpg')}}"></th>
                    <th><img height=100% width=100% src="{{asset('assets/images/png-transparent-porcelain-tile-floor-bathroom-slate-floor-texture-kitchen-bathroom.jpg')}}"></th>
                    <th><img height=100% width=100% src="{{asset('assets/images/png-transparent-porcelain-tile-floor-bathroom-slate-floor-texture-kitchen-bathroom.jpg')}}"></th>
                    <th><img height=100% width=100% src="{{asset('assets/images/png-transparent-porcelain-tile-floor-bathroom-slate-floor-texture-kitchen-bathroom.jpg')}}"></th>
                    <th><img height=100% width=100% src="{{asset('assets/images/png-transparent-porcelain-tile-floor-bathroom-slate-floor-texture-kitchen-bathroom.jpg')}}"></th>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
		</table>
	</div>
    <div class="formu_mesa">

    </div>
{% endblock %}
