<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		<link
		rel="icon" href="{{asset('assets/images/logo.ico')}}">
		{# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
		{% block stylesheets %}

			<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

			<title>Cyborg - Awesome HTML5 Template</title>

			{# INDEX PAGE #}
			<!-- Bootstrap core CSS -->
			<link
			href="{{asset('vendor/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">

			<!-- Additional CSS Files -->
			<link rel="stylesheet" href="{{asset('assets/css/fontawesome.css')}}">
			<link rel="stylesheet" href="{{asset('assets/css/templatemo-cyborg-gaming.css')}}">
			<link rel="stylesheet" href="{{asset('assets/css/owl.css')}}">
			<link rel="stylesheet" href="{{asset('assets/css/animate.css')}}">
			<link rel="stylesheet" href="{{asset('https://unpkg.com/swiper@7/swiper-bundle.min.css')}}"/>
		{% endblock %}
		{% block header%}
			<header class="header-area header-sticky">
				<div class="container">
					<div class="row">
						<div class="col-12">
							<nav
								class="main-nav">
								<!-- ***** Logo Start ***** -->
								<a href="/" class="logo">
									<img src="assets/images/logo.png" alt="">
								</a>
								<!-- ***** Logo End ***** -->

								<!-- ***** Menu Start ***** -->
								<ul class="nav">
									<li>
										<a href="/" class="active">Home</a>
									</li>
									<li>
										<a href="/juegos">Juegos de mesa</a>
									</li>
									{% if app.user!=null %}
										{% if "ROLE_ADMIN" in app.user.roles %}
											<li>
												<a href="/admin">Mantenimiento</a>
											</li>
										{% endif %}
										<li>
											<a href="/eventos">Eventos</a>
										</li>
										<li>
											<a href="/logout">Logout</a>
										</li>
										<li>
											<a href="/perfil">Perfil
												<img src="assets/images/logo.png" alt=""></a>
										</li>
									{% else %}
										<li>
											<a href="/login">Login
												<img src="assets/images/logo.png" alt=""></a>
										</li>
									{% endif %}
								</ul>
								<a class='menu-trigger'>
									<span>Menu</span>
								</a>
								<!-- ***** Menu End ***** -->
							</nav>
						</div>
					</div>
				</div>
			</header>
		{% endblock %}
	</head>
	<body>
		{% block body %}
			{% block javascripts %}
				{# INDEX PAGE #}
				<script src="{{asset('vendor/jquery/jquery.min.js')}}"></script>
				<script src="{{asset('vendor/bootstrap/js/bootstrap.min.js')}}"></script>
				<script src="{{asset('assets/js/isotope.min.js')}}"></script>
				<script src="{{asset('assets/js/owl-carousel.js')}}"></script>
				<script src="{{asset('assets/js/tabs.js')}}"></script>
				<script src="{{asset('assets/js/popup.js')}}"></script>
				<script src="{{asset('assets/js/custom.js')}}"></script>
			{% endblock %}
		{% endblock %}
		{% block footer %}
			<footer>
				<div class="container">
					<div class="row">
						<div class="col-lg-12">
							<p>Copyright © 2077
								<a href="landing">Los Juegos Hermanos</a>
								Company. All rights reserved.<br>
								<a>Fecha de desarrollo: Desde Enero de 2023 a Febrero de 2023</a>
								<br>Diseño:
								<a href="https://www.youtube.com/watch?v=kizMi_xe_Gc" target="_blank" title="free CSS templates">Alex</a>
								<br>Programación:
								<a href="https://www.youtube.com/watch?v=kizMi_xe_Gc" target="_blank">Alex</a>
							</p>
						</div>
					</div>
				</div>
			</footer>
		{% endblock %}
	</body>

</html>
