{% extends 'base.html.twig' %}

{% block title %}Mi perfil
{% endblock %}

{% block body %}

	<!-- ***** Header Area Start ***** -->
	{% block header%}
		{{parent()}}
	{% endblock %}
	<!-- ***** Header Area End ***** -->

	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div
					class="page-content">

					<!-- ***** Banner Start ***** -->
					<div class="row">
						<div class="col-lg-12">
							<div class="main-profile ">
								<div class="row">
									<div class="col-lg-4">
										<img src="assets/images/logo.png" alt="" style="border-radius: 23px;">
									</div>
									<div class="col-lg-4 align-self-center">
										<div class="main-info header-text">
											<h4>
												{{ app.user.nombre ~ ' ' ~ app.user.ape1 ~ ' ' ~ app.user.ape2 }}
											</h4>
											<div class="main-border-button">
												<a href="/juegos">Reservar</a>
											</div>
										</div>
									</div>
									<div class="col-lg-4 align-self-center">
										<ul>
											<li>Nickname
												<span>{{app.user.nickname}}</span>
											</li>
											<li>Email
												<span>{{app.user.Email}}</span>
											</li>
											<li>Número de telegram
												<span>{{app.user.numtelegram}}</span>
											</li>
										</ul>
									</div>
								</div>
								<div class="row">
									<div class="col-lg-12">
										<div class="clips">
											<div class="row">
												<div class="col-lg-12">
													<div class="heading-section">
														<h4>
															<em>Partidas</em>
															recientes</h4>
													</div>
												</div>
												{% for juegos in jugados %}
													<div class="col-lg-3 col-sm-6">
														<div class="item">
															{% if reservas!=null %}
																<div class="thumb">
																	<img src="{{ asset('Juego_de_mesa_fotos/' ~ juegos.juego.Nombre ~ 'caratula.png') }}" width="200" height="200" alt="" style="border-radius: 23px;">
																</div>
																<div class="down-content">
																	<h4>{{juegos.juego.Nombre}}</h4>
																	<span>
																		{{juegos.diareserva|date('d-m-Y')}}</span>
																</div>
															{% else %}
																<h4>
																	<center>Aún no has jugado ninguna vez, ¡Anímate!
																	</center>
																</h4>
															{% endif %}
														</div>
													</div>
												{% endfor %}
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- ***** Banner End ***** -->

					<!-- ***** Gaming Library Start ***** -->
					<div class="gaming-library profile-library">
						<div class="col-lg-12">
							<div class="heading-section">
								<h4>
									<em>Eventos </em>
									en los que he participado</h4>
							</div>
							{% if eventos!=null %}
								{% for evento in eventos %}
									<div class="item">
									<center>
										<ul>
											<li>
												<h4>Nombre</h4>
												<span>{{evento.nombre}}</span>
											</li>
											<li>
												<h4>Descripción</h4>
												<span>{{evento.Descripcion}}</span>
											</li>
											<li>
												<h4>Fecha de inicio</h4>
												<span>{{evento.fechaevento|date('d-m-y')}}</span>
											</li>
										</ul>
									</center>
									</div>
								{% endfor %}
							{% else %}
								<h4>
									<center>Sin eventos de momento. ¡Anímate!
									</center>
								</h4>
							{% endif %}

						</div>
					</div>

					{% if app.user!=null %}
						<!-- ***** Gaming Library Start ***** -->
						<div class="gaming-library">
							<div class="col-lg-12">
								<div class="heading-section">
									<h4>Tus
										<em>reservas</em</h4>
									</div>
									<div class="item">
										{% if reservas!=null %}
											{% for reserva in reservas %}
												<center>
													<ul>
														<li>
															<h4>Juego</h4>
															<span>{{reserva.juego.nombre}}</span>
														</li>
														<li>
															<h4>Número de mesa</h4>
															<span>{{reserva.mesa.id}}</span>
														</li>
														<li>
															<h4>Día de reserva</h4>
															<span>{{reserva.diareserva|date('d-m-y')}}</span>
														</li>
														<li>
															<h4>Horas reservadas</h4>
															<span>{{reserva.horaentrada|date("h-i") ~ '/' ~ reserva.horasalida|date("h-i")}}</span>
														</li>
														<li>
															<div class="main-button">
																<a href={{'/cancelareserva?id_reserva=' ~ reserva.id}}>Cancelar</a>
															</div>
														</li>
													</ul>
												</center>
											{% endfor %}
										{% else %}
											<h4>
												<center>Sin reservas de momento. ¡Anímate!
												</center>
											</h4>
										{% endif %}
									</div>
								</div>
								<div class="col-lg-12">
									<div class="main-button">
										{% if reservas==null %}
											<a href="/juegos">Reservar</a>
										{% endif %}
									</div>
								</div>
							</div>
						</div>
						<!-- ***** Gaming Library End ***** -->
					{% endif %}
					<!-- ***** Gaming Library End ***** -->
				</div>
			</div>
		</div>
	</div>
{% endblock %}
